
body {
  background-image: url('../imagens_pizza/background_pizza.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

h3 {
    color: rgb(255, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 5px;
    font-variant: small-caps;
   
}

h2 {
    font-weight:lighter;
}

table {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


.titulo {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.localizacao{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  normal;
    text-align: left ;
    letter-spacing: 5px;
}

.formpizza {
    color: white;
    width: 249px;
    height: 190px;
}
.formpag {
    color: white;
    
    width: 249px;
    height: 249px;
}

.sobre {
    color: rgb(255, 255, 255);
    font-size: 20px;     
    font-family: Arial, Helvetica, sans-serif;
    
}

.nos {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  normal;
    text-align: left ;
    letter-spacing: 5px;
}

.informacao {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;     
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
}

.endereço {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;     
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
}

.solid {
    border-style: solid;
    border-color: black;
    
}

.linha{
    color: black;
}

#btpedido{
    text-align: center;
}

.vcss{
    text-align: right;
}