body {
    background-image: url('../imagens_pizza/background_pizza.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    color: rgb(255, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    letter-spacing: 5px;
    font-variant: small-caps;
}

h2 {
    font-weight: lighter;
}

table {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.localizacao {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    letter-spacing: 5px;
}

.formpizza {
    color: white;
    width: 249px;
    height: 287px;
    border-radius: 10px;
}

.formpag {
    color: white;
    width: 249px;
    height: 170px;
    border-radius: 10px;
}

.sobre {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nos {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    letter-spacing: 5px;
}

.informacao {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.endereço {
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.solid {
    border-style: solid;
    border-color: black;
}

.linha {
    color: black;
}

#btpedido {
    text-align: center;
}

.vcss {
    text-align: right;
}

.button{   
    background-color: #ffee0081;
}




.infos {
    text-align: center;
}

.warnContent {
    font-size: 1em;
}

.warnTitle {
    color: darkred;
    text-decoration: underline;
    font-size: 1.2em;
}

.warning {
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    border-style: dotted;
    border-radius: 5px;
    border-color: #a1a1a1;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #bebebe;
}

.divider {
    height: 95%;
    width: 0.1em;
    box-shadow: 0px 0px 10px #bebebe;
    background-color: #a1a
}

.subInfoDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.subInfoDiv label {
    margin-bottom: 0em;
}

.personalInfoDiv {
    font-size: 1em;
    display: flex;
    width: 100%;
    color: #ffffff;
    padding: 0.2em;
    border-radius: 5px;
    background-color: #ff1414e7;
    font-family: Arial, Helvetica, sans-serif;
}

.personalInfoDiv label {
    margin-bottom: 0em;
    margin-right: 0.2em;
}




.infoSubtitle {
    position: relative;
    left: calc(22% - (7em / 2));
    top: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(160, 160, 160, 0.5);
    box-shadow: 0px 10px 10px #4b4b4b9c;
    background-color: rgba(160, 160, 160);
    font-size: 1.8em;
    width: 9em;
    padding: 0em 0.4em;
}

.subInfoDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.subInfoDiv label {
    margin-bottom: 0em;
}

.dividerd {
    height: 95%;
    width: 0.1em;
    box-shadow: 0px 0px 10px #bebebe;
    background-color: #a1a1a1;
}

.selectDiv select {
    background-color: #ff1414;
    color: #ffffff;
    font-size: 0.9em;
    width: 15em;
}

.selectDiv select:focus {
    border-color: rgb(255, 81, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 81 0 / 25%);
}

.personalInfo {
    width: 50%;
    height: 40vh;
    padding: 01em 0.5em 0.5em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-radius: 100px;
    border-color: rgba(78, 78, 78, 0.1);
    box-shadow: 0px 0px 10px #8383839c;
    background-color: rgba(78, 78, 78, 0.502);
}  
